# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# PyCharm / IDE
.idea/
*.iml

# Video/temp files
*.mp4
*.mp4.part
temp_*.mp4

# Logs
*.log

# Byte-compiled / distribution
build/
dist/
*.egg-info/

# Flask / instance folder
instance/
.webassets-cache

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Misc
*.swp
